@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --darkbrown: #FFCDD2;
}

/*  */

html, body {
    font-family: "Poppins" !important;
    
}
.bgcolor {
    height: 100%;
    background-color:  #F2F9FF;
    display: flex;
    justify-content: center;
}  

/* navbar color */
.navbarScroll.navbarGrey {
    background-color: #E195AB;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2886, 43, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.navbar-toggler{
  border: none !important;
  color: #562B00 !important;
}
.navbar-toggler:focus{
  box-shadow: none;
}

    .navbar-light {
        background-color: #D6D6D6 !important;
    }

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #D91656 !important;
    font-size: 30px !important;
}

.nav-link {
    color: #E195AB !important;
}

.navbar  {
    color: #562B00 !important;
}


/* text section1*/

.textv {
    padding-left: 15%;
    
    margin-top: 30%;
    margin-bottom: 30%;
    
}


h5 {
    color:#E195AB;
}
h2 {
    
    font-weight: bolder !important;
    color:#E195AB;
    font-size: 4vw !important;
    margin-left: auto;
    margin-right: auto;
} 

 span {
    color: #D91656;
}



/* button */
.container1 {
    display: grid;
    grid-template-columns: 130px 225px 5px;
    padding: 10px;
    width: 100%;
    gap: 30px;
}

.viewcv {
    border-radius: 8px;
    background-color: #562B00;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 4px 4px   #b4b4b4;
    text-decoration: none;    
}

.viewcv:active {
    background-color: #fff;
    color: #562B00;
}

.viewcv:hover {
    background-color: #fff;
    color:#562B00
}
.downloadcv {
    border-radius: 8px;
    background-color: #fff;
    color: #562B00;
    padding: 10px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 4px 4px   #b4b4b4;
    text-decoration: none;
}


.downloadcv:active {
    background-color: #562B00;
    color: #fff;
}

.downloadcv:hover {
    background-color: #562B00;
    color: #fff;
}
/* avatar */
.avaimage {
    display: block;
        border-radius: 1px 1px 1px 100px !important;
        box-shadow: 25px -25px #c5c5c5 !important;
        mix-blend-mode: multiply;
        max-width: 60%;
        margin-top: 20% !important;
       
}

/* about */
    



 /* footer section */

 .social-icons {
    font-size: 36px;
    cursor: pointer;
 }

 .fa-facebook:hover, .fa-linkedin:hover {
    color: #d6d6d6;
 }

 #socials {
    background-color: #7C3F00;
    text-align: center;
 }

 /* Services section */

  .servicesText.card {
    height: 280px;
    cursor: pointer;
 }

 .servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
 } 

 .card-title {
    text-align: center;
 }

 .card:hover .servicesIcon {
    color: #7C3F00;
 }

 .servicesText:hover {
    border: 1px solid #7C3F00;
 } 

@media only screen and (max-width: 767px) {
    
    
    .textv {
       width: 100%;
       padding-left: 0;
    }
    

    .blue23{
        line-height: 99%;
        word-spacing: 2px;
        font-weight: bolder !important;
        font-size: 8vw !important;
        color: #633200 !important;
        text-align: center;
    }

   
    .blue-32 {
        font-size: 14px;
        text-align: center;
    }

    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .avaimage {
        display: block;
        border-radius: 1px 1px 1px 500px !important;
        
        box-shadow: 18px -18px #c5c5c5 !important;
        
    }

    .container1 {
        display: block !important;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    /* .avaimage {
        margin-top: 30% !important;
    } */

    .asd {
        margin-top: 30px;
    }
}



